{{! blog page }}
<main class="text-center">
  {{! show blog }}
  <article class="text-center rounded-xl shadow-lg p-10 m-5 bg-gray-800">
    <h2 class="title text-4xl text-gray-600 font-black">{{title}}</h2>
    <p>{{blog}}</p>
    <p>Created by: {{user.username}} | Date: {{format_date date}}</p>

  </article>

  {{! if logged in allow create comment }}
  {{#if logged_in}}
    <form
      id="new-comment-form"
      class="text-center rounded-xl shadow-lg p-10 m-5 bg-gray-800"
    >
      <label>Comment:</label>
      <textarea
        rows="4"
        id="new-comment-input"
        placeholder="Write comment"
        class="text-black border text-center rounded-lg w-full px-10 resize-none"
      ></textarea>

      {{! submit comment button  }}
      <button
        type="submit"
        class="border border-gray-200 rounded-lg px-4 hover:bg-gray-400 mt-3"
      >Submit</button>
    </form>
  {{/if}}

  {{! comment history }}
  <section>

    {{! comment card}}
    {{#each comments}}
      <div class="text-left rounded-xl shadow-lg m-5 pl-3 bg-gray-800 w-6/12 mx-auto ">
        <div>
          <p>{{comment}}</p>
        </div>
        <div>
          {{! created by card}}
          <p class="text-right pr-3">By:
            {{user.username}}
            on
            {{format_date date}}</p>
        </div>
      </div>
    {{/each}}
  </section>
</main>