{{! blog page }}
<main>
  {{! show blog }}
  <article>
    <h2>{{title}}</h2>
    <p>{{blog}}</p>
    <p>Created by: {{user.username}} | Date: {{format_date createdAt}}</p>

  </article>

  {{! if logged in allow create comment }}
  {{#if logged_in}}
    <form>
      <label for="comment">Comment:</label>
      <textarea id="new-comment" placeholder="Write comment"></textarea>
      <button id="comment-btn" type="submit">Submit</button>
    </form>
  {{/if}}

  {{! comment history }}
  <section>
    <div> 
        {{! comment card}}
        {{#each comments}}
        <p>{{comment}}</p>
            </div>
    <div> 
        {{! created by card}}
        <p>By: {{user.username}} on {{format_date createdAt}}</p>
    </div>
        {{/each}}
  </section>
</main>